# Ignore build and output files
bin/
obj/
.vs/

# Ignore user-specific files
*.user
*.suo

# Ignore temporary and lock files
*.lock
*.log
*.tmp
*.bak
*.swp
*.DS_Store

# Ignore application host settings
applicationhost.config

# Ignore any other unwanted directories
TeamProjectWebAPI/TeamProjectWebAPI/bin/
TeamProjectWebAPI/TeamProjectWebAPI/obj/
